<h1>{{title}}</h1>
<h2>{{title}}</h1>
<h3>{{title}}</h1>
<h4>{{title}}</h1>
<h5>{{title}}</h1>
<h6>{{title}}</h6>
<p><a href="/">{{title}}</a></p>
<p><mark>{{paragraph}}</mark></p>
<img src="/images/ring-color.png" />
<hr>
<p><kbd>Cmd</kbd> + <kbd>Maj</kbd> + <kbd>R</kbd></p>
<p><blockquote>{{paragraph}}</blockquote></p>
<p>
  <ul>
    <li>{{title}}</li>
    <li>{{title}}</li>
    <li>{{title}}</li>
    <li>{{title}}</li>
  </ul>
</p>
<p><code>{{title}}</code></p>
<p><pre>{{title}}</pre></p>
<p><pre>{{title}} <code>{{title}}</code></pre></p>
<p><input type="text" placeholder="{{title}}"></p>
<table>
  <tr>
      <th>Heading</th>
      <th>Heading</th>
      <th>Heading</th>
  </tr>
  <tr>
      <td>Content</td>
      <td>Content</td>
      <td>Content</td>
  </tr>
  <tr>
      <td>Content</td>
      <td>Content</td>
      <td>Content</td>
  </tr>
  <tr>
      <td>Content</td>
      <td>Content</td>
      <td>Content</td>
  </tr>
  <tr>
      <td>Content</td>
      <td>Content</td>
      <td>Content</td>
  </tr>
</table>