<h1>{{title}}</h1>
<h2>{{title}}</h1>
<h3>{{title}}</h1>
<h4>{{title}}</h1>
<h5>{{title}}</h1>
<h6>{{title}}</h6>
<p><a href="/">{{title}}</a></p>
<p><mark>{{paragraph}}</mark></p>
<img src="/images/ring-color.png" />
<hr>
<p><kbd>Ctrl</kbd></p>
<p><blockquote>{{paragraph}}</blockquote></p>
<ul>
    <li>{{title}}</li>
    <li>{{title}}</li>
    <li>{{title}}</li>
    <li>{{title}}</li>
</ul>
<p><code>{{title}}</code></p>
<p><pre>{{title}}</pre></p>
<p><pre>{{title}} <code>{{title}}</code></pre></p>
<p><input type="text" placeholder="{{title}}"></p>
<table>
    <th>
        <td>Test</td>
        <td>Test</td>
    </th>
    <tr>
        <td>Test</td>
        <td>Test</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>Test</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>Test</td>
    </tr>
    <tr>
        <td>Test</td>
        <td>Test</td>
    </tr>
</table>